@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
.accord p, .accord li i:before, .accord li i:after {
  transition: all .2s ease-in-out; }

.accord {
  list-style: none;
  padding: 0;
  margin: 0 0 25px; }
  .accord li {
    position: relative;
    padding: 0;
    margin: 0 30px;
    padding-bottom: 18px;
    padding-top: 18px;
    border-top: 1px solid #dce7eb; }
    .accord li i {
      position: absolute;
      transform: translate(-6px, 0);
      margin-top: 16px;
      right: 30px; }
      .accord li i:before, .accord li i:after {
        content: "";
        position: absolute;
        background-color: #000;
        width: 3px;
        height: 9px; }
      .accord li i:before {
        transform: translate(2px, 0) rotate(-45deg); }
      .accord li i:after {
        transform: translate(-2px, 0) rotate(45deg); }
    .accord li input[type=checkbox] {
      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0; }
      .accord li input[type=checkbox]:checked ~ .accordhide {
        margin-top: 0;
        max-height: 0;
        opacity: 0; }
      .accord li input[type=checkbox]:checked ~ i:before {
        transform: translate(2px, 0) rotate(45deg); }
      .accord li input[type=checkbox]:checked ~ i:after {
        transform: translate(-2px, 0) rotate(-45deg); }
  .accord .accordhide {
    font-size: 17px;
    line-height: 26px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2; }

[class*='col'] {
  float: left;
  width: 100%;
  min-height: 1px; }

.mhide {
  display: none; }

.wrapper {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative; }

.col1 {
  width: 8.33333%; }

.col2 {
  width: 16.66667%; }

.col3 {
  width: 25%; }

.col4 {
  width: 33.33333%; }

.col5 {
  width: 41.66667%; }

.col6 {
  width: 50%; }

.col7 {
  width: 58.33333%; }

.col8 {
  width: 66.66667%; }

.col9 {
  width: 75%; }

.col10 {
  width: 83.33333%; }

.col11 {
  width: 91.66667%; }

.col12 {
  width: 100%; }

@media only screen and (max-width: 768px) {
  .mcol1 {
    width: 8.33333%; }
  .mcol2 {
    width: 16.66667%; }
  .mcol3 {
    width: 25%; }
  .mcol4 {
    width: 33.33333%; }
  .mcol5 {
    width: 41.66667%; }
  .mcol6 {
    width: 50%; }
  .mcol7 {
    width: 58.33333%; }
  .mcol8 {
    width: 66.66667%; }
  .mcol9 {
    width: 75%; }
  .mcol10 {
    width: 83.33333%; }
  .mcol11 {
    width: 91.66667%; }
  .mcol12 {
    width: 100%; } }

*,
*:after,
*:before {
  margin: 0;
  padding: 0; }

body {
  font-size: 14px;
  line-height: 1.428;
  font-family: "Roboto", Helvetica, sans-serif; }

p {
  color: #333;
  font-weight: 400; }

h1 {
  font-size: 36px;
  font-weight: semibold; }

h2 {
  font-size: 30px;
  font-weight: semibold; }

h3 {
  font-size: 24px;
  font-weight: semibold; }

h4 {
  font-size: 18px;
  font-weight: semibold; }

h5 {
  font-size: 14px;
  font-weight: semibold; }

h6 {
  font-size: 12px;
  font-weight: semibold; }

a {
  color: inherit; }
  a:link {
    color: inherit;
    text-decoration: none; }
  a:visited {
    color: inherit;
    text-decoration: none; }
  a:hover {
    color: inherit;
    text-decoration: none; }
  a:active {
    color: inherit;
    text-decoration: none; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.lowercase {
  text-transform: lowercase; }

.uppercase {
  text-transform: uppercase; }

.capitalize {
  text-transform: capitalize; }

.center {
  display: block;
  float: none;
  margin: 0 auto; }

.bold {
  font-weight: 700; }

clear {
  clear: both; }

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  background-color: #eee; }
  .btn:hover {
    background-color: #ddd; }

.btn-sm {
  font-size: 12px;
  padding: 5px 10px; }

.btn-lg {
  font-size: 18px;
  padding: 10px 16px; }

.ham {
  display: none; }

@media only screen and (max-width: 768px) {
  .ham {
    position: relative;
    right: 0;
    padding: 20px;
    display: block;
    z-index: 1; }
    .ham i {
      float: right; }
    .ham ul {
      list-style: none;
      position: absolute;
      top: 50px;
      width: 120px;
      right: 0; }
      .ham ul li {
        padding: 10px;
        text-align: right; }
    .ham input[type=checkbox] {
      position: absolute;
      cursor: pointer;
      width: 24px;
      height: 24px;
      z-index: 2;
      opacity: 0;
      right: 20px; }
      .ham input[type=checkbox]:checked ~ ul li {
        display: none; } }
