h1
	color: black
	font-size: 24px
	font-weight: 300
	line-height: 1.5

#pac-input
	width: 300px
	position: relative !important
	display: block
	height: 40px
	font-size: 20px
	margin-top: 10px
	text-indent: 1%
	left: 0
	direction: ltr
	overflow: hidden
	position: relative
	color: rgb(86, 86, 86)
	font-family: Roboto, Arial, sans-serif
	-moz-user-select: none
	background-color: rgb(255, 255, 255)
	padding: 8px
	border: none
	border-bottom-right-radius: 2px
	border-top-right-radius: 2px
	background-clip: padding-box
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px
	border-left: 0px none
	min-width: 40px
.container
	width: 800px
	margin: 0 auto
	display: block

#radiusWrapper
	width: 132px

#radiusLabels
	div
		display: inline-block
		&:last-child
			float: right
#locList
	list-style-type: none

	h3
		font-size: 24px

	li 
		border-bottom: 1px solid #ddd
		padding: 15px

